<form class="edit__form" action="{{ action_url }}" method="POST">
  <div class="edit__container">
    {{ form.hidden_tag() }}
    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> EСС </label>
        {{ form.ecc_id(class="edit__input edit__spec", type="text")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.ecc_id.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> EСС Password </label>
        {{ form.ecc_password(class="edit__input edit__spec", type="text")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.ecc_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Email </label>
        {{ form.email(class="edit__input disabled", type="email",
        readonly="true")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> AD Login </label>
        {{ form.ad_login(class="edit__input disabled", type="text",
        placeholder="Login", readonly="true")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.ad_login.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> AD Password </label>
        {{ form.ad_password(class="edit__input disabled", type="text",
        placeholder="Login", readonly="true")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.ad_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Sim </label>
        {{ form.sim(class="edit__input", type="text", )}}
      </div>
      <div class="edit__feedback">
        {% for error in form.sim.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Reseller </label>
        {{ form.reseller(class="edit__input")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.reseller.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Subscription Duration </label>
        {{ form.sub_duration(class="edit__input")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.sub_duration.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Subscription Activation Date </label>
        {{ form.sub_activate_date(class="edit__input", type="date")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.sub_activate_date.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> Comments </label>
        {{ form.comment(class="edit__input", placeholder="Comments")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.comment.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    {% if description_header == 'Add account' %}
    <div class="edit__group">
      <div class="edit__submit-btn reload-button">
        <a
          type="button"
          href="javascript:window.location.reload()"
          class="edit__submit"
          >Regenerate</a
        >
      </div>
    </div>
    {% else %}
    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label"> {{ experation_date }}</label>
      </div>
    </div>

    <div class="edit__group btn-container">
      <div class="edit__submit-btn reload-button">
        <a
          type="button"
          href="{{ url_for('account.show_qrcode', account_id=account_id) }}"
          class="edit__submit"
          >QR Code</a
        >
      </div>
    </div>
    <div class="edit__group btn-container">
      <div class="edit__submit-btn reload-button">
        <a
          type="button"
          href="{{ url_for('account.device', account_id=account_id) }}"
          class="edit__submit"
          >Device</a
        >
      </div>
    </div>
    {% endif %}
    <div>
      <img src="{{ url_for('static', filename='images/loading-11.gif') }} " id="gif">
    </div>
    <div class="edit__group btn-container">
      <div class="edit__submit-btn reload-button">{{ form.submit(class="edit__submit")}}</div>
    </div>
  </div>
</form>
