<header class="header">
  <div class="container container--lg">
    <div class="header__inner">
      {% if current_user.is_authenticated %}
      <button class="menu-btn" type="button">
        <span class="menu-btn-line"></span>
      </button>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('main.index') }}">Dashboard</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('user.index') }}">Users</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('account.index') }}">Accounts</a>
          </li>
          <!-- <li class="menu__item">
            <a class="menu__link" href="{{ url_for('reseller.index') }}">Resellers</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('distributor.index') }}">Distributors</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('sub_reseller.index') }}">Sub Resellers</a>
          </li> -->
          <li class="menu__item">
            <a class="menu__link" href="{{ url_for('product.index') }}">Products</a>
          </li>
        </ul>
      </nav>
      <div class="overlay"></div>
      {% endif %}
      <div>
      <a class="logo" href="#">
        <img class="logo__img" src="{{ url_for('static', filename='images/icons/logo.svg') }}" alt="Kryptr Logo" />
      </a>
    </div>
      {% if current_user.is_authenticated %}
      <div class="account-wrapper">
        <button class="account-drp" onclick="showFuncs()">{{ current_user.username }}</button>
        <div  id="funcs-drp" class="account-drp__content">
          <a href="{{ url_for('auth.logout') }}">Logout</a>

        </div>
      </div>

      {% else %}
        <button class="account">Log in</button>
      {% endif %}
    </div>

  </div>

</header>
