<form class="edit__form" action="{{ action_url }}" method="POST">
    <span class="edit__form-title">
    </span>
    <div class="edit__container">

    {{ form.hidden_tag() }}
    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label">
        Product name
        </label>
        {{ form.product_name(class="edit__input", type="text", placeholder="")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.product_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="edit__group">
      <div class="input__wrapper">
        <label class="edit__label">
          Comment
        </label>
        {{ form.comment(class="edit__input")}}
      </div>
      <div class="edit__feedback">
        {% for error in form.comment.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="edit__group">
    <div class="edit__submit-btn">
    {{ form.submit(class="edit__submit")}}
  </div>
    </div>
  </div>
  </form>
