{% extends "base.html" %}

{% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator.min.css') }}">
{% endblock %}
{% block content %}
  <section class="resellers">
    <div class="container">
      <div class="resellers__inner">
        <div class="resellers__header">
          <span class="resellers__title">Resellers</span>
          <a class="btn resellers__add" href="{{ url_for('reseller.add_reseller') }}" >New reseller</a>
        </div>

        <div class="resellers__table">
          <div id="resellers-table"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/tabulator.min.js') }}"></script>
{% endblock %}