{% extends "base.html" %}

{% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator.min.css') }}">
{% endblock %}
{% block content %}
  <section class="supports">
    <div class="container">
      <div class="supports__inner">
        <div class="supports__header">
          <span class="supports__title">Supports</span>
          <a class="btn supports__add" href="{{ url_for('support.add_support') }}" >Add support</a>
        </div>

        <div class="supports__table">
          <div id="supports-table"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/tabulator.min.js') }}"></script>
{% endblock %}