.header {
  background-color: $accent;
  box-shadow: 0 0 10px 5px #11111115;
  z-index: 5;
  max-height: 115px;
  &__inner {
    position: sticky;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

  }
}

.menu-btn {
  // margin-right: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  outline: transparent;
  cursor: pointer;
  display: block;
  z-index: 2;

  @include r(996) {
    display: block;
  }

  @include r(440) {
    width: 20px;
    height: 20px;
  }
}

.menu-btn-line,
.menu-btn-line::before,
.menu-btn-line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background-color: $bg;
}

.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  transition: all 0.4s;
}

.menu-btn-line::before {
  transform: translateY(-10px);

  @include r(440) {
    transform: translateY(-7px);
  }
}

.menu-btn-line::after {
  transform: translateY(10px);

  @include r(440) {
    transform: translateY(7px);
  }
}

.menu-btn--active .menu-btn-line {
  height: 0;
  background-color: $bg;
}

.menu-btn--active .menu-btn-line::before {
  background-color: $bg;
  transform: rotate(45deg);
}

.menu-btn--active .menu-btn-line::after {
  background-color: $bg;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  background-color: $accent;
  padding: 10px 10px 0px 30px;
  min-width: 250px;
  // min-height: 660px;
  height: 100%;
  border-top: 1px solid #cccccc;
  box-shadow: 0 0 10px 5px #11111115;
  transform: translateX(-200%);
  transition: transform 0.3s;
  z-index: 10;
  overflow:auto;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    min-height: 666px;
  }

  &__link {
    display:flex;
    padding: 25px 5px 25px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.164);
    color: $bg;

    &:hover {
      border-color: $bg;
    }
  }

  &--active {
    transform: translateX(0);
  }
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  transition: all 0.3s;
}

.account {
  cursor: pointer;
  color: $bg;
  display: block;
  margin-left: auto;
  outline: transparent;

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid transparent;
    transform: scale(0);
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      border-color: $bg;
      transform: scale(1);
    }
  }
}
.account-wrapper{


}
.account-drp {
  &__content{

  }
  &__content{

    display: none;
    position: absolute;
    // margin-right: 200px;
    margin-left: -40px;
    background-color:transparent;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    &.show{

      display: flex;
      // max-width: 200px;
      width: 100px;
      text-align: center;
      flex-direction: column;

    }
    a{
      background-color: $accent;
      box-shadow: 0px 1px 5px 0px rgb(255, 255, 255);
      display: block;
      width: 100%;
      text-align: center;
      color: $bg;
      margin-top: 7px;
      padding: 4px 6px;
      text-decoration: none;
      &:hover{
        color: white;
        font-weight: bold;
        background-color:  #314883;
        transition: all 0.3s;
      }
     }
  }

  cursor: pointer;
  color: $bg;
  display: block;
  margin-left: auto;
  outline: transparent;
  & :focus{
    &__content{
      display: block;
    }
}
  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid transparent;
    transform: scale(0);
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      border-color: $bg;
      transform: scale(1);
    }
  }
}