.header {
  background-color: $accent;
  box-shadow: 0 0 10px 5px #11111115;

  &__inner {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
}

.menu-btn {
  margin-right: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  outline: transparent;
  cursor: pointer;
  display: block;
  z-index: 2;

  @include r(996) {
    display: block;
  }

  @include r(440) {
    width: 20px;
    height: 20px;
  }
}

.menu-btn-line,
.menu-btn-line::before,
.menu-btn-line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background-color: $bg;
}

.menu-btn-line::before,
.menu-btn-line::after {
  content: "";
  transition: all 0.4s;
}

.menu-btn-line::before {
  transform: translateY(-10px);

  @include r(440) {
    transform: translateY(-7px);
  }
}

.menu-btn-line::after {
  transform: translateY(10px);

  @include r(440) {
    transform: translateY(7px);
  }
}

.menu-btn--active .menu-btn-line {
  height: 0;
  background-color: $bg;
}

.menu-btn--active .menu-btn-line::before {
  background-color: $bg;
  transform: rotate(45deg);
}

.menu-btn--active .menu-btn-line::after {
  background-color: $bg;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  background-color: $accent;
  padding: 30px;
  min-width: 250px;
  border-top: 1px solid #cccccc;
  box-shadow: 0 0 10px 5px #11111115;
  transform: translateX(-200%);
  transition: transform 0.3s;
  z-index: 10;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__link {
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.164);
    color: $bg;

    &:hover {
      border-color: $bg;
    }
  }

  &--active {
    transform: translateX(0);
  }
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  transition: all 0.3s;
}

.account {
  color: $bg;
  display: block;
  margin-left: auto;
  outline: transparent;

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid transparent;
    transform: scale(0);
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      border-color: $bg;
      transform: scale(1);
    }
  }
}