<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="data:;base64,=">
    <meta charset="utf-8" />
    <title>{{ config.APP_NAME }}</title>
    <!-- meta -->
    <meta name="description" content="" />
    <meta name="author" content="Simple2B.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% block meta %}{% endblock %}
    <!-- styles -->
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet" media="screen" />
    {% block links %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/icons/logo.svg" type="image/x-icon">
  </head>

  <body>
    {% block header %}
      {% include "components/_header.html" %}
    {% endblock %}

    <main class="main">
      <div class="container container--lg"></div>
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <!-- Flash Messages -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="flash flash--{{ category }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %} -->
      <div class="footer__copyright">©2020 {{ config.APP_NAME }}. All rights reserved.</div>
    </footer>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/main.min.js') }}" type="text/javascript" defer></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
