{% extends "base.html" %}

{% block links %}
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
{% endblock %}

{% block content %}
  <section class="edit">
    <div class="container">
      <div class="edit__inner">
        <div class='edit__header'>
          <div class="edit__header-grp">
         <a href='#' class="edit__title"'> <span >
            {{description_header}}
          </span></a>
          </div>
          <div class='edit__cancel-btn'>
            <a href="{{ cancel_link }}">
            &#10006
          </a>
          </div>
        </div>
        <div class="card">
          {% include include_header %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}