.btn {
  padding: 10px 20px;
  border: 1px solid $accent;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $bg;
    background-color: $accent;
  }
}

.reload-button {
  line-height: 42px;
  text-align: center
}

.btn-container {
  justify-content: center;
}
