@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-display: swap;
}
